@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

:root {
  --red: rgb(214, 38, 52);
  --violet: rgb(95, 16, 245);
  --dark: rgb(36, 37, 42);
  --white: rgb(251, 253, 255);
  --f-w-200: 200;
  --f-w-300: 300;
  --f-w-400: 400;
  --f-w-500: 500;
  --f-w-700: 700;
}

html {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  color: var(--dark);
}

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: inherit;
}

header {
  width: 100%;
  height: 100px;
  background-color: var(--violet);
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

header .logo h1 {
  color: var(--white);
  font-weight: var(--f-w-500);
  text-transform: uppercase;
  font-size: 1.7rem;
}

header .navbar nav {
  height: 100%;
}

header .navbar nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}

header .navbar nav ul li {
  border-radius: 10px;
}

header .navbar nav ul li:not(:last-of-type) {
  margin-right: 5px;
}

header .navbar nav ul li a {
  display: block;
  padding: 10px 15px;
  line-height: 1;
  color: var(--white);
  font-weight: var(--f-w-400);
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s;
}

header .navbar nav ul li a:hover {
  border-color: var(--white) !important;
}

header .navbar nav ul li:last-of-type {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  border: unset !important;
  border-radius: unset !important;
  cursor: pointer;
}

@media (max-width: 600px) {
  header {
    height: auto !important;
    padding: 15px 0;
  }

  header .center {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  header .navbar nav ul li:last-of-type {
    border-radius: 50% !important;
    height: 50px;
  }
}

.activeLink {
  border-color: var(--white) !important;
}

.search {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  display: none;
}

.search .searchInput {
  width: 100%;
  height: 100%;
  display: flex;
}

.search .searchInput input {
  all: unset;
  display: block;
  flex: 1;
  height: 50px;
  padding: 0 5px;
  font-size: 1.1rem;
  color: var(--dark);
}

.search .searchInput button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--violet);
  color: var(--white);
  width: 50px;
  height: 50px;
  border-radius: 3px;
  cursor: pointer;
}

.searchResultContainer {
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin-top: 0;
  padding: 10px;
  overflow: hidden;
  display: none;
}

.searchResultContainer .result {
  background-color: var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.searchResultContainer .result ul li .searchResultItem {
  display: flex;
  height: 50px;
}

.searchResultContainer .result ul li .searchResultItem .left {
  width: 50px;
  height: 100%;
}

.searchResultContainer .result ul li .searchResultItem .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.searchResultContainer .result ul li .searchResultItem .right {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.searchResultContainer .result ul li:not(:last-of-type) .searchResultItem .right {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.searchResultContainer .result ul li .searchResultItem .right h3 {
  color: var(--dark);
  font-weight: var(--f-w-400);
  font-size: 1rem;
}

.bannerImage {
  width: 100%;
  height: 45vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  /* display: none; */
}

.bannerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center {
  width: 1124px;
  height: 100%;
  display: flex;
  padding: 0 10px;
}

.flexColumn {
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

main .container {
  width: 1124px;
  display: flex;
  padding: 10px;
  overflow: hidden;
}

@media (max-width: 1124px) {
  main .container {
    width: 100%;
  }
}

main .container .rows {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-left: -1rem;
}

.card {
  width: calc((100% / 3) - 1rem);
  height: auto;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .card {
    width: calc((100% / 2) - 1rem);
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
  }
}

.card .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.card .top img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid transparent;
  padding: 3px;
  transition: all 0.3s;
}

.card:hover .top img {
  border-color: var(--violet);
}

.card:hover {
  border-bottom-color: var(--violet);
}

.card .bottom {
  padding: 10px;
  display: flex;
  justify-content: center;
  padding-top: 0;
}

.card .bottom h3 {
  color: var(--dark);
  font-weight: var(--f-w-400);
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.paginationContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.paginationContainer ul {
  display: flex;
}

.paginationContainer ul li:not(:first-of-type) {
  margin-left: 5px;
}

.paginationContainer ul li a {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid #dedede;
}

.pIcons {
  width: 75px !important;
  color: var(--white);
  background-color: var(--violet);
}

.currentPageNumber {
  color: var(--violet);
  border-color: var(--violet) !important;
}

footer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  /* margin-top: 1rem; */
}

footer h3 {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: var(--f-w-300);
}

footer h3 span {
  color: var(--red);
}
